/* This is used to hide only the numbers on the analytics bar (likes, replies, etc) */
[role="group"] > div:has(> [data-testid="reply"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="unretweet"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="retweet"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="unlike"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="like"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> a[href*="analytics"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="bookmark"]) > :last-child > :last-child > :last-child {
    display: none;
}

nav div[role="tablist"] > div:first-child {
    flex-grow: 0;
    flex-shrink: 1;
}

nav div[role="tablist"] > div:first-child > a {
    display: none;
}

nav div[role="tablist"] > div:first-child {
    flex-shrink: 0;
}