/* This is used to hide only the numbers on the analytics bar (likes, replies, etc) */
[role="group"] > div:has(> [data-testid="reply"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="unretweet"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="retweet"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="unlike"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="like"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> a[href*="analytics"]) > :last-child > :last-child > :last-child {
    display: none;
}

[role="group"] > div:has(> [data-testid="bookmark"]) > :last-child > :last-child > :last-child {
    display: none;
}

/* This is used to hide the views of the tweet */
article[data-testid="tweet"] > div > div > :last-child > :nth-last-child(2) > div > :first-child > div > :last-child:not([data-testid]) {
    display: none;
}

article[data-testid="tweet"] > div > div > :last-child > :nth-last-child(2) > div > :first-child > div > :nth-last-child(2):not([data-testid]) {
    display: none;
}
